* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #20212F;
    --font-black: 'proxima_nova_altblack';
    --font-semiBold: 'proxima_nova_ltsemibold';
    --font-bold: 'proxima_nova_altbold';
    --font-scthin: 'proxima_nova_scosfthin';
    --font-thin: 'proxima_nova_ltthin';
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}

li {
    padding-left: 0;
    list-style: none;
}

.wrapper {
    width: 100%;
}

/* --------------------Header----------------- */
.header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.6rem 0;
    height: 3.6rem;
}

.nav-home {
    flex-grow: 1;
}

.nav-home__link {
    color: var(--primary-color);
    padding: 0.2rem 0.3rem;
    font-size: 2.6rem;
    font-weight: 700;
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
}

.nav-page-item {
    padding: 0 0.1rem;
    height: 1.5rem;
}

.nav-page-item+.nav-page-item {
    margin-left: 1.7rem;
}

.nav-page-item__link {
    display: flex;
    align-items: flex-end;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-btn-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-btn-item a {
    display: block;
}

.nav-btn-item+.nav-btn-item {
    margin-left: 2.2rem;
}

.nav-btn__icon-search {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.9rem 0px 1.1rem;
}

.nav-btn__icon-search i {
    font-size: 1.6rem;
    color: #20212F;
}

.nav-btn__icon-noti {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF3333;
    width: 3.6rem;
    height: 3.6rem;
}

.nav-btn__icon-noti i {

    font-size: 1.6rem;
    color: #FFFFFF;
}

/* --------------------Main--------------- */
.main {
    position: relative;
    height: 100vh;
}

/* --------------------------------Slide---------------------- */
.slide {
    height: auto;
    min-height: 75rem;
    background-image: url("/asset/img/slide.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-content {
    padding: 32.5rem 13rem 0;
    color: #FFFFFF;
}

.slide-lead-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slide-lead-story__order {
    font-size: 1.6rem;
    line-height: 1.9rem;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2rem;
    font-weight: 900;
}

.slide-lead-story__title {
    font-family: "proxima_nova_altblack";
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    max-width: 68.2rem;
    font-size: 5.6rem;
    line-height: 5.8rem;
    text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.slide-lead-story__btn {
    display: flex;
    align-items: flex-end;
    margin-top: 1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.9rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    background-color: unset;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}

.slide-second-story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 7.6rem;
}

.slide-second-story:first-child {
    margin-left: -1.6rem;
}

.slide-second-story:last-child {
    margin-right: -1.6rem;
}

.slide-second-story-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slide-second-story-item:not(:last-child) {
    padding-right: 1.6rem;
}

.slide-second-story-item~.slide-second-story-item {
    border-left: 1px solid #FFFFFF;
    padding-left: 1.6rem;
}

.slide-second-story-item__content {
    padding: 0.9rem 1rem 1.2rem;
}

.slide-second-story__order {
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
}

.slide-second-story__title {
    margin-top: 0.4rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}