/* small desktop */
@media only screen and (max-width: 1280px) {
    * {
        --max-width: 900px;
    }

    .slide {
        max-height: 700px;
    }

    .slide-content {
        padding: 16rem 0rem;
    }

    .articles {
        width: 75%;
    }

    .action-text,
    .action-category {
        padding-left: 40px;
        padding-right: 40px;
    }


    .action-category__option-item {
        min-width: 12rem;
        min-height: 12em;
    }
}

/* ipad */
@media only screen and (max-width: 768px) {
    * {
        --max-width: 560px;
        font-size: 8px;
    }

    .slide {
        max-height: 560px;
    }

    .slide-content {
        padding: 8rem 0rem;
    }

    .trending-main {
        padding-left: 6rem;
    }

    .articles {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .articles-content-img {
        height: 200px;
    }

    .action {
        flex-direction: column;
    }

    .action-text,
    .action-category {
        max-width: 75%;
    }

    .action-category {
        padding-top: 50px;
    }

    .action-category__option-item {
        min-width: 16rem;
        min-height: 16em;
    }
}

/* phone */
@media only screen and (max-width: 420px) {
    * {
        --max-width: 360px;
        font-size: 6px;
    }

    .nav-page {
        display: none;
    }

    .nav-page {
        width: 100%;
        height: 100vh;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        z-index: 998;
    }

    .nav-page-item {
        width: 100%;
        padding: 4rem 4rem;
        height: auto;
        margin: 0;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    .nav-page-item+.nav-page-item {
        margin: 0;
    }

    .nav-page-item a {
        font-size: 2rem;

    }

    .nav-btn {
        margin-right: 40px;
    }

    .nav-mobile {
        display: block;
    }

    .nav-mobile i {
        font-size: 3.6rem;
    }

    .nav-mobile {
        position: absolute;
        top: 0.2rem;
        right: 1.6rem;
    }

    .nav-mobile-close {
        position: absolute;
        top: 0.2rem;
        right: 1.6rem;
        z-index: 999;
    }

    .nav-mobile-close i {
        font-size: 3.6rem;
    }

    .checkbox-menu:checked~.nav-page {
        display: flex;
        flex-direction: column;
    }

    .checkbox-menu:checked~.nav-mobile-close {
        display: block;
    }

    .checkbox-menu:checked~.nav-mobile {
        display: none;
    }

    .slide {
        max-height: 560px;
    }

    .trending-main {
        padding-left: 1rem;
    }

    .action-text,
    .action-category {
        max-width: 100%;
    }

    .action-category {
        padding-top: 50px;
    }

    .action-category__option-item {
        min-width: 12rem;
        min-height: 12em;
    }

    .footer {
        justify-content: center;
    }

    .footer-home {
        display: none;
    }
}